* {
    border: 2px dotted red;
    font-family: 'Righteous', cursive;
    background-color: #edcf9b;
}

header {
    height: 160px;
    /* background-image:  */
    display: fixed;
    width: 100%;
    z-index: 0;
}

#banner {
    position: relative;
    top: 0;
    left: 0;
    width: 50%;
}

#logo-background {
    position: relative;
    top: 0;
    left: 0;
    width: 100%
}

#logo {
    border-radius: 50%;
    position: absolute;
    top: 15%;
    left: 40%;
    width: 20%;
}

nav ul {
    margin: 0px;
    padding: 5px 0px 5px 30px;
}

nav li {
    display: inline;
    margin-right: 40px;
}

h1 {
    border: 5px dotted blue;
    padding-top: 20px;
    width: 940px;
    height: 60px;
    margin: 0px;
    height: 60px;
}

body {
}
#slogan {
    font-family: 'Dancing Script', cursive;
    font-size: 100px;
    background-color: #dab894;
    width: 60%;
}

p {
    font-size: 30px;
}

#family-div {
    display: inline;
}